<!DOCTYPE html>
<html>
    <head>
        <title>My web its my web!!!</title>
    </head>
    <body>
        <p>
            hello nice to meet you I am very ready to meet you {{index_variable}}
        </p>
        <img src="{{url_for('static',filename = 'Hello.png')}}" width = 500 height = 500> 
        <form>
            <label for = "f_name">first name: </label>
            <input type = "text" id = "f_name" name = "f_name">
            <button type = "button">click me</button>
        </form>
    </body>
</html>